body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#image-container img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    cursor: pointer;
}

.left {
    left: 10px;
    border-right-color: #fff;
}

.left::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    border-width: 10px 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.right {
    right: 10px;
    border-left-color: #fff;
}

.right::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}
