body {
    font-family: 'IBM Plex Mono', monospace; /* Change the font family */
    margin: 0;
    padding: 0;
    color: #333; /* Change the text color */
}

header {
    background-color: #bfdfea;
    color: #333;
    text-align: center; /* Center the text in the header */
    padding: 20px; /* Increase padding for better visibility */
}

h1, h2 {
    margin: 0; /* Remove default margins for h1 and h2 */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#image-container img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}
button {
    margin-top: 10px;
    padding: 10px;
    font-family: 'IBM Plex Mono', monospace; /* Specify the desired font family */
    color: #333; /* Change the text color */
    background-color: #bfdfea; /* Change the background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

button:hover {
    background-color: #bfdfea; /* Change the background color on hover */
}
